# Capítulo 06 - Machine Learning - Arvore de Decisão

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

#### Carregando a base de dados bank-numeric

In [2]:
bank=pd.read_csv(r'C:\Users\Daniel\arvore-decisao-materiais-apoio\arvore-decisao-materiais-apoio\datasets\bank-numeric.csv')
bank.head()

,age,balance,duration,campaign,previous,default_cat,housing_cat,loan_cat,recent_pdays,deposit_cat,...,marital_divorced,marital_married,marital_single,education_primary,education_secondary,education_tertiary,education_unknown,poutcome_failure,poutcome_success,poutcome_unknown
0,59,2343,1042,1,0,0,1,0,0.0001,1,...,0,1,0,0,1,0,0,0,0,1
1,56,45,1467,1,0,0,0,0,0.0001,1,...,0,1,0,0,1,0,0,0,0,1
2,41,1270,1389,1,0,0,1,0,0.0001,1,...,0,1,0,0,1,0,0,0,0,1
3,55,2476,579,1,0,0,1,0,0.0001,1,...,0,1,0,0,1,0,0,0,0,1
4,54,184,673,2,0,0,0,0,0.0001,1,...,0,1,0,0,0,1,0,0,0,1

#### Separando as features das classes

In [3]:
bank_data=bank.drop('deposit_cat',1)
bank_target=bank.deposit_cat

#### Dividindo os dados em treino e teste

In [4]:
X_train,X_test,y_train,y_test=train_test_split(bank_data,bank_target,test_size=0.3)

#### Função para treinar o modelo de arvore de decisão com o parametro max_depth

In [20]:
def compara_modelo(maxdepth):
    if maxdepth==0:
        dt=tree.DecisionTreeClassifier(random_state=1)
    else:
        dt=tree.DecisionTreeClassifier(random_state=1,max_depth=maxdepth)
        dt.fit(X_train,y_train)
        train_score=dt.score(X_train,y_train)
        test_score=dt.score(X_test,y_test)
        return (train_score,test_score)
compara_modelo(5)

(0.7991808524254448, 0.7903851896088384)

#### Verificando as features mais importantes para o modelo de arvore de decisão treinado

##### Treinando o modelo utilizando o valor de max_depth igual a 5

In [21]:
dt=tree.DecisionTreeClassifier(max_depth=5)
dt.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

##### Listando as features e sua importância para o modelo

In [37]:
fi=dt.feature_importances_
l=len(bank.columns)
features=bank.columns
for i in range(0,l-1):
    print('{:}{}'.format(features[i],fi[i]))

age0.00455219115183078
balance0.026815747817045568
duration0.6342929205304483
campaign0.016553786199821764
previous0.0
default_cat0.0
housing_cat0.10897175757054979
loan_cat0.0
recent_pdays0.016586061877140568
deposit_cat0.0
job_blue-collar0.0019251740669108473
job_entrepreneur0.0
job_other0.0
job_pink-collar0.0
job_self-employed0.0
job_technician0.0
job_white-collar0.0004471428993328864
marital_divorced0.001643381592580362
marital_married0.0
marital_single0.0
education_primary0.0
education_secondary0.0
education_tertiary0.0
education_unknown0.0
poutcome_failure0.18821183629433919
poutcome_success0.0